# snippet <trigger> <description>
# <snippet-body>

snippet it "Test it"
  it("${1}", () => {
    ${0}
  })


snippet test "Test test"
  test("${1}", () => {
    ${0}
  })

snippet desc "Test describe"
  describe("${1}", () => {
    ${0}
  })
